
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

$bodyFont: 'Inter', sans-serif;
$primaryColor: #165d89;
$whiteColor: #ffffff;
$bodyColor: #444444;
$titleColor: #111111;
$transition: all 0.3s;

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body {
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    line-height: 1.34;
    padding: 0;
    margin: 0;
    color: $bodyColor;
    font-family: $bodyFont;
    background-color: #fff;
}
body {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    &.signup-page,
    &.login-page {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: url(../image/body-bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
h1,h2 {
    font-weight: 700;
    color: $titleColor;
}
h1 {
    font-size: 62px;
}
h2 {
    font-size: 32px;
    
}

a {
    text-decoration: none;
    transition: $transition;
}



.form-wrapper {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    max-width: 515px;
    padding: 50px;
    margin-left: 15px;
    margin-right: 15px;
    h2 {
        padding: 0;
        margin: 0 0 20px;
        color: $whiteColor;
    }
    form {
        input {
            margin-bottom: 20px;
            height: 50px;
            outline: none;
            border: none;
            background: $whiteColor;
            padding: 10px 20px;
            border-radius: 6px;
            width: 100%;
            font-size: 16px;
            color: $titleColor;
            appearance: none;
            font-family: $bodyFont;
        }
        button {
            outline: none;
            border: none;
            background: $whiteColor;
            padding: 10px 20px;
            border-radius: 6px;
            width: 100%;
            color: $titleColor;
            font-size: 16px;
            height: 50px;
            appearance: none;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-family: $bodyFont;
            transition: $transition;
            cursor: pointer;
            &:hover {
                background: rgba(255, 255, 255, 0.7);
            }
        }
        ::placeholder {
            color: #a3a3a3;
        }
    }
    .inner-btn {
        margin-top: 30px;
        text-align: right;
        a {
            color: rgba(255, 255, 255, 0.8);
            &:hover {
                color: $whiteColor;
                display: inline-block;
            }
        }
    }
}